.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.marco img {
    margin: 10px;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.lista {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.lista img {
    width: 100px;
    height: 80px;
    margin: 10px;
    cursor: pointer;
}

.selectedImage{
    border: 4px solid #B78B34;
}

button{
    margin: 5px;
}