<div class="container">
    <div class="marco" [style.width]="width+'px'" [style.heigth]="heigth+'px'">
        <img [src]="imagenSeleccionada.src" [alt]="imagenSeleccionada.title" [title]="imagenSeleccionada.title" >
    </div>
    <div class="botonera">
        <button mat-raised-button (click)="onImagePreviuos()"><mat-icon>navigate_before</mat-icon> Anterior </button>
        <button mat-raised-button (click)="onImageNext()"> Siguiente <mat-icon>navigate_next</mat-icon></button>
        <button mat-raised-button (click)="onImageSize(true)"><i class="material-icons">add</i> Aumentar</button>
        <button mat-raised-button (click)="onImageSize(false)"><i class="material-icons">remove</i> Disminuir</button>
        <button *ngIf="!play" mat-raised-button (click)="onImagePlayStop()"><i class="material-icons">play_circle</i> Play</button>
        <button *ngIf="play" mat-raised-button (click)="onImagePlayStop()"><i class="material-icons">stop_circle</i> Stop</button>
    </div>
    <div class="lista">
        <div *ngFor="let index of listaIndexMiniaturas">
            <img [src]="listaImagenes[index.id].src" [alt]="listaImagenes[index.id].title" [title]="listaImagenes[index.id].title" (click)=" onImageClick(listaImagenes[index.id])">
        </div>
    </div>
</div>