
h1{
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    color:rgb(47, 75, 56);
    margin: 25px;
    cursor: pointer;
    &:hover{
        color:white;
    }
}

.decoration{
    background-color:rgb(228, 219, 94);
    border: 10px dotted green;
    padding: 10px;
}