div{
    width:400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: rgb(242, 153, 71);
  
  }
  
  img {
    width: 300px;
  }
  