<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="editForm"  >
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username">
          <small *ngIf="usernameControl.errors?.['required']" class="error">Campo obligatorio.</small>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <small *ngIf="passwordControl.errors?.['required']" class="error">Campo obligatorio.</small>
          <small *ngIf="passwordControl.errors?.['minlength']" class="error">La contraseña debe tener al menos 8 caracteres.</small>
        </mat-form-field>
      </p>
      <small *ngIf="error" class="error">
        Usuario o Contraseña incorrectos.
      </small>
      <div class="button">
        <button type="button" mat-stroked-button (click)="submit()">Login</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>