.layout-app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.layout-app-header {
  color: white;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
}

.avatar {
  width: 80px;
  border-radius: 100%;
}

.lupa {
  width: 1.5em !important;
  height: 1.5em !important;
}

.buscador {
  width: 100%;
}

.txtBusqueda {
  width: 90%;
}

.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.button{
  max-height: 35px;
  top:30px;
  float: right;
}